<!DOCTYPE html>
<html>
  <body>
    <header class="header">
      <div class="header-top">
        <span class="header-title">Guess the character!</span>
      </div>
      <div class="header-bottom"></div>
    </header>
    <div id="root"></div>
    <footer class="footer">
      <div class="footer-top"></div>
      <div class="footer-bottom">
        <p class="thanks">
          Special thanks to <a href="https://disneyapi.dev/">The Disney API</a> for
          making this possible.
        </p>
      </div>
    </footer>    
  </body>
</html>
