<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="header-top">
        <div class="container">
          <span class="header-title">Guess the Disney character</span>
        </div>
      </div>
      <div class="header-bottom"></div>
    </header>
    <div id="root"></div>
    <footer class="footer">
      <div class="footer-top"></div>
      <div class="footer-bottom">
        <div class="container">
          <p class="thanks">
            Special thanks to <a href="https://disneyapi.dev/">The Disney API</a> for
            making this possible.
          </p>
        </div>
      </div>
    </footer>    
  </body>
</html>
